<div class="items">
    <div class="operations">
        <button v-if="items.length > 0" @click="reportLastDay()">report last day</button>
        <button v-if="items.length > 0" @click="reportLastWeek()">report last week</button>
        <button v-if="items.length > 0" @click="clearItems()">clear items</button>
        <button v-if="items.length > 0" @click="exportItems()">export items</button>
        <button v-if="items.length > 0 && result && !canImport" @click="importItems()">import items</button>
        <button v-if="result && !canImport" class="clipboard" data-clipboard-target="#report-result">copy</button>
        <button v-if="result && !canImport" @click="clearResult()">clear</button>
    </div>
    <textarea v-if="canImport"
        v-model="result"
        @focusout="doneEditingResult()">
    </textarea>
    <pre v-else id="report-result" @click="clickResult()">{{result}}</pre>
    <ul>
        <li>
            <input v-model="newItemContent" @keyup.enter="create()">
        </li>
        <li v-for="(item, i) in items"
            @mouseenter="mouseenter(i)"
            @mouseleave="mouseleave()">
            <span @click="edit(i)" :class="item.status">{{item.status}}</span>
            <input v-if="editingIndex === i"
                v-model="editingItemContent"
                @keyup.enter="doneEditing()"
                id="editingItem"
                @focusout="doneEditing()">
            <span v-else @click="edit(i)" class="content">
                <del v-if="item.status === 'closed'">{{item.content}}</del>
                <template v-else>{{item.content}}</template>
            </span>
            <button v-if="canOnIt(i)" @click="onIt(item)">on it</button>
            <button v-if="canDone(i)" @click="done(item)">done</button>
            <button v-if="canClose(i)" @click="close(item)">close</button>
            <button v-if="canReopen(i)" @click="reopen(item)">reopen</button>
        </li>
    </ul>
</div>