<div class="items">
    <div class="operations">
        <button v-if="items.length > 0" @click="report()">report</button>
        <button v-if="canClearItems" @click="clearItems()">clear items</button>
        <button v-if="items.length > 0" @click="exportItems()">export items</button>
        <button v-if="items.length > 0 && result && !canImport" @click="importItems()">import items</button>
        <button v-if="result && !canImport" class="clipboard" data-clipboard-target="#report-result">copy</button>
        <button v-if="result && !canImport" @click="clearResult()">clear</button>
        <button v-if="items.length > 0" :class="reportDaysIsEditing ? 'expanded' : ''" @click="toggleReportDaysVisibility()">report days</button>
        <button v-if="items.length > 0" :class="reportFormatIsEditing ? 'expanded' : ''" @click="toggleReportFormatVisibility()">report format</button>
    </div>
    <input v-if="reportDaysIsEditing" id="reportDays" v-model="reportDays" type="number">
    <input v-if="reportFormatIsEditing" id="reportFormat" v-model="reportFormat" type="text">
    <textarea v-if="canImport"
        v-model="result"
        @focusout="doneEditingResult()"
        rows="20"
        ref="result">
    </textarea>
    <pre v-else id="report-result" @click="clickResult()">{{result}}</pre>
    <ul>
        <li>
            <input v-model="newItemContent" @keyup.enter="create()">
        </li>
        <li v-for="(item, i) in items"
            @mouseenter="mouseenter(i)"
            @mouseleave="mouseleave()">
            <input v-if="editingIndex === i"
                v-model="editingItemContent"
                @keyup.enter="doneEditing()"
                id="editingItem"
                @focusout="doneEditing()">
            <template v-else>
                <del v-if="item.status === 'closed' || item.status === 'done'"
                    @click="edit(i, $event)"
                    class="content"
                    v-html="getSpanedContent(item)">
                </del>
                <span v-else
                    @click="edit(i, $event)"
                    class="content"
                    v-html="getSpanedContent(item)">
                </span>
            </template>
            <span v-if="editingIndex !== i" @click="edit(i)" :class="item.status">
                {{item.status}}
                <template v-if="item.date">
                    (
                    <relative-time :time="item.date" :locale="locale"></relative-time>
                    )
                </template>
            </span>
            <button v-if="canOnIt(i)" class="on-it" @click="onIt(item)">on it</button>
            <button v-if="canDone(i)" class="done" @click="done(item)">done</button>
            <button v-if="canClose(i)" class="close" @click="close(item)">close</button>
            <button v-if="canReopen(i)" class="reopen" @click="reopen(item)">reopen</button>
        </li>
    </ul>
</div>